@page
@model Auth.Admin.Pages.Clients.IndexModel
@{
    ViewData["Title"] = "Clients";
}

<div class="row">
    <div class="col-12">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a asp-page="/Index">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">Clients</li>
            </ol>
        </nav>
    </div>

    <div class="col-12">
        <a asp-page="/Clients/Edit" class="btn btn-outline-primary mb-3"><span class="fas fa-plus"></span> New Client</a>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Client ID</th>
                        <th>Client Name</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var client in Model.Clients)
                    {
                        <tr>
                            <td>@client.ClientId</td>
                            <td>@client.ClientName</td>
                            <td class="text-right">
                                <a class="btn btn-outline-primary" asp-page="/Clients/Secrets" asp-route-id="@client.Id" title="Secrets"><i class="fas fa-key"></i></a>
                                <a class="btn btn-outline-primary" asp-page="/Clients/Properties" asp-route-id="@client.Id" title="Properties"><i class="fas fa-list-alt"></i></a>
                                <a class="btn btn-outline-primary" asp-page="/Clients/Claims" asp-route-id="@client.Id" title="Claims"><i class="fas fa-info-circle"></i></a>
                                <a class="btn btn-primary" asp-page="/Clients/Edit" asp-route-id="@client.Id" title="Edit"><i class="fas fa-edit"></i></a>
                                <a class="btn btn-danger" asp-page="/Clients/Delete" asp-route-id="@client.Id" title="Delete"><i class="fas fa-trash"></i></a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
