@page
@model Auth.Admin.Pages.Clients.PropertiesModel
@{
    ViewData["Title"] = "Properties";
}

<form asp-page="/Clients/Properties" method="post">
    <div class="row">

        <div class="col-12">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a asp-page="/Index">Home</a></li>
                    <li class="breadcrumb-item"><a asp-page="/Clients/Index">Clients</a></li>
                    <li class="breadcrumb-item"><a asp-page="/Clients/Edit" asp-route-id="@Model.ClientId">@Model.ClientName</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Properties</li>
                </ol>
            </nav>
        </div>

        <div class="col-md-12">
            <div asp-validation-summary="All" class="text-danger"></div>

            <input type="hidden" asp-for="ClientId" />
            <input type="hidden" asp-for="ClientName" />

            <div class="card mt-3">
                <h5 class="card-header">New Property</h5>
                <div class="card-body">

                    <div class="form-group row">
                        <label asp-for="Key" class="col-sm-3 col-form-label">
                            Key
                        </label>
                        <div class="col-sm-9">
                            <input type="text" required class="form-control" asp-for="Key">
                            <span asp-validation-for="Key" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label asp-for="Value" class="col-sm-3 col-form-label">
                            Value
                        </label>
                        <div class="col-sm-9">
                            <input type="text" required class="form-control" asp-for="Value">
                            <span asp-validation-for="Value" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label">
                        </label>
                        <div class="col-sm-9">
                            <button type="submit" class="btn btn-outline-primary"><i class="fas fa-plus"></i> Add Property</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

<div class="row">
    <div class="col-md-12">
        <div class="card mt-3">
            <h5 class="card-header">Properties</h5>
            <div class="card-body">
                <div class="row table-responsive">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Key</th>
                                <th>Value</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var clientProperty in Model.Properties)
                            {
                                <tr>
                                    <td>@clientProperty.Key</td>
                                    <td>@clientProperty.Value</td>
                                    <td><a asp-page="/Clients/DeleteProperty" asp-route-id="@clientProperty.Id" class="btn btn-danger"><i class="fas fa-trash"></i></a></td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
